*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* variables */
    --chargin-logo-size: 14.1em;
    /* --chargin-logo-line: 14.1em; */
}

body{
    height: 100vh;
    width: 100vw;

    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
}

.logo{
    border: 1px solid #666;
    width: var(--chargin-logo-size);
    height: var(--chargin-logo-size);
}

/* canvas{
    background: white;
} */